@model Quiz
@using EvilHack.Models;
@using EvilHack.Classes;

@{
    ViewBag.Title = "TakeQuiz";
}

<script type="text/javascript">
    function doSomething() {
        alert("something");
    }

</script>

<h2>TakeQuiz</h2>

<div class="container">
    @{
        for (int i = 0; i < Model.Count; i++)
        {
            var questionNumber = (i + 1).ToString();
            var answersInRandomOrder = new List<string>
            {
                Model[i].CorrectAnswer,
                Model[i].IncorrectAnswer1,
                Model[i].IncorrectAnswer2,
                Model[i].IncorrectAnswer3
            };

            answersInRandomOrder.Shuffle();

            <div class="panel panel-default">
                <div class="panel panel-heading">
                    <span>
                        Question @questionNumber: @Model[i].QuestionText
                    </span>
                </div>
                <div class="panel panel-body">
                    <div class="row">
                        <button class="btn btn-default col-md-5 spacer">@answersInRandomOrder[0]</button>
                        <button class="btn btn-default col-md-5 spacer">@answersInRandomOrder[1]</button>
                    </div>
                    <div class="row">
                        <button class="btn btn-default col-md-5 spacer">@answersInRandomOrder[2]</button>
                        <button class="btn btn-default col-md-5 spacer">@answersInRandomOrder[3]</button>
                    </div>
                </div>
            </div>
        }
    }
</div>
