@model Quiz
@using EvilHack.Models;
@using EvilHack.Classes;

@{
    ViewBag.Title = "TakeQuiz";
}

<script type="text/javascript">
    function doSomething() {
        alert("something");
    }

</script>

<img src="~/Assets/Images/logo.png" class="img-responsive img-logo"/>

<div class="container">
    @{
        for (int i = 0; i < Model.Questions.Count; i++)
        {
            var questionNumber = (i + 1).ToString();
            var answersInRandomOrder = new List<string>
            {
                Model.Questions[i].CorrectAnswer,
                Model.Questions[i].IncorrectAnswer1,
                Model.Questions[i].IncorrectAnswer2,
                Model.Questions[i].IncorrectAnswer3
            };

            answersInRandomOrder.Shuffle();

            <br/>
            <div class="panel panel-success">
                <div class="panel panel-heading">
                    <span>
                        Question @questionNumber: @Model.Questions[i].QuestionText
                    </span>
                </div>
                <div class="panel panel-body">
                    <div class="row justify-content-center">
                        <button class="btn btn-default col-md-6 ">@answersInRandomOrder[0]</button>
                        <button class="btn btn-default col-md-6 ">@answersInRandomOrder[1]</button>
                    </div><br/>
                    <div class="row justify-content-center">
                        <button class="btn btn-default col-md-6">@answersInRandomOrder[2]</button>
                        <button class="btn btn-default col-md-6">@answersInRandomOrder[3]</button>
                    </div>
                </div>
            </div>
        }
    }
</div>
